<h1><%= @author[0]['name'] %></h1>
<h4>Books by <%= @author[0]['name'] %></h4>
<% @books.map do |book| %>
<a href="/books/<%= book['id'] %>"><h5><%= book['title'] %><br></h5></a>

<% end %>

<br>
<a href="/" class="btn btn-info">Home</a>
