<form action="/user-login" method="post">
  <h1>Login:</h1>
  <div class="form-group">
    <label for="user-name">Username:</label>
    <input name="user-name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Login</button>
</form>
